.select2-container--default.select2-container--focus,.select2-selection.select2-container--focus,.select2-container--default:focus,.select2-selection:focus,.select2-container--default:active,.select2-selection:active {
    outline: none;
}
.select2-container{display: block;width: unset !important;}
.select2-container--default .select2-selection--single,.select2-selection .select2-selection--single,.select2-container--default .select2-selection--multiple,.select2-selection .select2-selection--multiple {
    padding: 4.5px 6px;
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.select2-container--default .select2-selection--single .select2-selection__arrow,.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    height: 32px;
    right: 6px
}
.select2-container--default .select2-selection--single .select2-selection__arrow b,.select2-container--default .select2-selection--multiple .select2-selection__arrow b {
    margin-top: 0
}
.select2-dropdown .select2-search__field,.select2-search--inline .select2-search__field {
    border: 1px solid #d2d6de
}
.select2-dropdown .select2-search__field:focus,.select2-search--inline .select2-search__field:focus {
    outline: none
}
.select2-container--default.select2-container--focus .select2-selection--multiple,.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #3c8dbc !important
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    margin-top: 4px;
}
.has-error .select2-container--default .select2-selection--single,.has-error .select2-selection .select2-selection--single,.has-error .select2-container--default .select2-selection--multiple,.has-error .select2-selection .select2-selection--multiple{border:1px solid #b94a48;}

.steps {
    display: flex;
    white-space: nowrap;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.steps .step {
    position: relative;
    flex: 1 1 auto;
    display: inline-block;
    text-align: center;
}
.step-finish .step-head, .step-finish .step-title {
    color: #67c23a;
    border-color: #67c23a;
}
.step-process .step-head, .step-process .step-title {
    color: #303133;
    border-color: #303133;
}
.step-wait .step-head, .step-wait .step-title {
    color: #a8abb2;
    border-color: #a8abb2;
}
.steps .step-head {
    position: relative;
    width: 100%;
}
.steps .step-line {
    left: 50%;
    right: -50%;
    top: 11px;
    position: absolute;
    background-color: #a8abb2;
}
.steps .step-line .step-line-inner {
    display: block;
    border-width: 1px;
    border-style: solid;
    transition: .15s ease-out;
    width: 0;
    height: 0;
}
.steps .step:last-child .step-line-inner {
    transition-delay: -300ms; border-width: 0px;
}
.steps .step-icon {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 14px;
    background: #fff;
    transition: .15s ease-out;
    border-radius: 50%;
    border: 2px solid;
    font-weight: 700;
    line-height: 1;
}
.steps .step-title {
    line-height: 38px;
}

.zd-input {
    width: 100%;
    position: relative;
    display: inline-block;
}

.zd-input__inner {
    -webkit-appearance: none;
    font-size: inherit;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}
.zd-input__inner[readonly]{
    background-color: #fff;
}
.zd-input__inner[disabled]{
    background-color: #eee;
}

.zd-input--suffix .zd-input__inner {
    padding-right: 30px;
}

.zd-input__suffix {
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: #c0c4cc;
    transition: all .3s;
    pointer-events: none;
}

.zd-input__suffix-inner {
    pointer-events: all;

}

.zd-cascader-wrap .zd-input__inner {
    text-overflow: ellipsis;
	cursor: pointer;
}

.zd-input__icon {
    height: 100%;
    text-align: center;
    width: 25px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zd-input__icon.zd-icon-arrow-down {
    transition: transform .3s;
    font-size: 13px;
}

.zd-input__icon.zd-icon-arrow-right {
    transition: transform .3s;
    font-size: 13px;
    transform: rotate(270deg);
}

.zd-cascader-wrap {
    width: 100%;
    position: relative;
    display: inline-block;
    font-size: 13px;
}

.zd-cascader__dropdown {
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 2009;
    margin: 5px 0;
    margin-bottom: 12px;
    font-size: 13px;
    background: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    display: none;
}

.zd-cascader-panel {
    display: flex;
    border-radius: 4px;
    font-size: 13px;
}

.zd-scrollbar {
    overflow: hidden;
    position: relative;
}

.zd-scrollbar__wrap {
    overflow: scroll;
    height: 100%;

}

.zd-cascader-menu {
    min-width: 160px;
    box-sizing: border-box;
    color: #606266;
    border-right: 1px solid #e4e7ed;
}

.zd-cascader-menu:last-child {

    border-right: none;

}

.zd-cascader-menu__wrap {
    margin-bottom: -17px;
    margin-right: -17px;
    height: 204px;

}

.zd-cascader-menu__list {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 6px 0;
    list-style: none;
    box-sizing: border-box;
}

.zd-cascader-node {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    height: 34px;
    line-height: 34px;
    outline: none;
}

.zd-cascader-node:not(.is-disabled) {
    cursor: pointer;
}

.zd-cascader-node__label {
    flex: 1;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zd-cascader-node__postfix {
    position: absolute;
    right: 10px;
}

.zd-cascader-node:not(.is-disabled):focus,
.zd-cascader-node:not(.is-disabled):hover,
.zd-cascader-node:not(.is-disabled).is-prepare {
    background: #f5f7fa;
}

.zd-cascader-node.in-active-path,
.zd-cascader-node.is-active,
.zd-cascader-node.is-selectable.in-checked-path {
    color: #409eff;
    font-weight: 700;
}

.zd-cascader-node.in-active-path .zd-input__icon path,
.zd-cascader-node.is-active .zd-input__icon path,
.zd-cascader-node.is-selectable.in-checked-path .zd-input__icon path {
    fill: #409eff;
}

.zd-cascader-wrap:not(.is-disabled):hover .zd-input__inner {
    cursor: pointer;
    border-color: #c0c4cc;
}

.zd-cascader-wrap.is-focus .zd-input .zd-input__inner {
    border-color: #409eff;
}

.zd-cascader-wrap.is-focus .zd-input .zd-input__icon {
    transform: rotate(180deg);
}

.zd-cascader-wrap.is-focus .zd-cascader__dropdown {
    display: inline-block;
}

.zd-cascader-wrap:focus-within .zd-input__inner {
    border-color: #409eff;
}

.is-selected-icon {
    position: absolute;
    left: 10px;
    font-size: 13px;
}

.upload-image .upload-btn{display:inline-block;position:relative;border:1px dashed #ddd;overflow: hidden;}
.upload-image .upload-btn a{display:inline-block;width:62px;height:56px;line-height:56px;text-align:center;background-color:#f5f5f5;color:#666;margin: 5px;touch-action: manipulation;cursor: pointer;}
.upload-image .upload-btn input{opacity: 0;position: absolute;cursor: pointer;width: 100%;height: 100%;left: 0;top: 0;padding-left: 100px;}
.upload-image .upload-complete{position:relative;border:1px dashed #ddd;color:#666;overflow:hidden;}
.upload-image .upload-complete a{position:absolute;top:0;right:0;display:inline-block;color:red;font-size:16px;background-color:#fff;padding: 20px;}
.upload-image .upload-complete img {width:62px;height:56px;margin: 5px;}
.upload-image .upload-complete span{position:absolute;top:21px;left:72px;display:inline-block;}
.upload-image .multiple-note{display: inline;position: absolute;margin-top: 22px;;color: #999;margin-left: 7px;}

.upload-file{height:38px;}
.upload-file .upload-btn{display:inline-block;width:70px;height:100%;position:relative;border:1px dashed #ddd;overflow: hidden;}
.upload-file .upload-btn a{margin: 4px;}
.upload-file .upload-btn input{opacity: 0;position: absolute;cursor: pointer;width: 100%;height: 100%;left: 0;top: 0;padding-left: 100px;}
.upload-file .upload-complete{position:relative;height:100%;border:1px dashed #ddd;color:#666;overflow:hidden;}
.upload-file .upload-complete a{position:absolute;top:0;right:7px;display:inline-block;color:red;font-size:16px;background-color:#fff;padding: 8px;}
.upload-file .upload-complete span{position:absolute;top:9px;left:9px;display:inline-block;}
.upload-file .upload-complete i{padding-right: 5px;}
.has-error .upload-btn{border:1px dashed #f56c6c;}

@keyframes loading-rotate{to{transform:rotate(1turn)}
}
@keyframes loading-dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}
50%{stroke-dasharray:90,150;stroke-dashoffset:-40px}
to{stroke-dasharray:90,150;stroke-dashoffset:-120px}
}
.el-loading-mask{z-index:2000;background-color:hsla(0,0%,100%,.9);margin:0;top:0;right:0;bottom:0;left:0;transition:opacity .3s;min-height: 300px;}
.el-loading-spinner{top:50%;margin-top:-21px;width:100%;text-align:center;position:absolute}
.el-loading-spinner .circular{height:42px;width:42px;animation:loading-rotate 2s linear infinite}
.el-loading-spinner .path{animation:loading-dash 1.5s ease-in-out infinite;stroke-dasharray:90,150;stroke-dashoffset:0;stroke-width:2;stroke:#409eff;stroke-linecap:round}

.tips{color: #f6a838; padding-left: 5px;}
.form-horizontal .control-label{position: unset;}
.form-group .radio-inline{position: unset;}
.form-group .checkbox-inline{position: unset;}
.input-note{color: green;}
.control-label[is-required]:before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
}
.btngroup button {
    margin-right: 10px;
}
.alert{margin-bottom: 0;}

.line-box{
    margin-top: 18px;
    border-top: 1px dashed #dee5e7;
}
.line-box .line-item{
    margin: 3px 0 3px;
    height: 26px;
    line-height: 1;
    padding: 4px 10px;
    border-left: 3px solid #00c250;
}
.line-box .line-item h3{
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}
.pull-right a{
    margin-top: -3px;
    margin-left: 5px;
}